.DS_Store
node_modules/
*.log
**/*/.next/
packages/**/*.mjs
packages/**/*.mjs.map

packages/**/*.js
packages/**/*.js.map
packages/**/*.d.ts
packages/**/*.d.ts.map
!**/jest.config.js
!**/.eslintrc.js
!**/.prettierrc.js
_esm

*.tsbuildinfo