/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/patches

.DS_Store
node_modules/
*.log
**/*/.next/
packages/**/*.mjs
packages/**/*.mjs.map

packages/**/*.js
packages/**/*.js.map
packages/**/*.d.ts
packages/**/*.d.ts.map
!packages/fluent/types/**/*.d.ts
!**/jest.config.js
!**/.eslintrc.js
!**/.prettierrc.js
!packages/prelude/_ext/*.d.ts
!**/_src
_esm
_mjs

*.tsbuildinfo